<div class='contact-details'>
  <div>
    <p class='contact-detail-header'>Email</p>
    <p class='contact-detail-value'><a href='mailto:meinte@gmail.com'>meinte@gmail.com</a></p>
  </div>
  <div>
    <p class='contact-detail-header'>Phone</p>
    <p class='contact-detail-value'><a href="tel:0061457283421">0061 457283421</a></p>
  </div>
  <div class='last'>
    <p class='contact-detail-header'>Skype</p>
    <p class='contact-detail-value'><a href="skype:meinte.vant.kruis?call">meinte.vant.kruis</a></p>
  </div>
</div>