<!doctype html>
<html lang="en">

<head>
  <!-- meta -->
  <title>helloMeinte.com</title>
  <meta charset="UTF-8" />
  <meta name="thumbnail" content="http://hellomeinte.com/img/logo.png" />
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="description"
    content="HelloMeinte.com is the website of Meinte van't Kruis. I have been Developing, Leading and Conceptualizing digital solutions for a wide variety of clients. I have worked in a variety of roles and have done everything from full-stack development to managing projects as well as wireframing designs, I enjoy being involved in the full scope of a project. Contact me if you want to work together!">
  <meta name="google-site-verification" content="BKMtunXXfr6CKrH-vsGFGSrWqmpbfNusrH3s1iLHEGw" />
  <!-- opengraph -->
  <meta prefix="og: https://ogp.me/ns#" property="og:title" content="helloMeinte.com" />
  <meta prefix="og: https://ogp.me/ns#" property="og:type" content="profile" />
  <meta prefix="og: https://ogp.me/ns#" property="og:url" content="http://hellomeinte.com/" />
  <meta prefix="og: https://ogp.me/ns#" property="og:image" content="http://hellomeinte.com/img/square_logo.png" />
  <meta prefix="og: https://ogp.me/ns#" property="og:image:type" content="image/png">
  <meta prefix="og: https://ogp.me/ns#" property="og:image:width" content="1200">
  <meta prefix="og: https://ogp.me/ns#" property="og:image:height" content="1200">
  <meta prefix="og: https://ogp.me/ns#" property="og:description"
    content="HelloMeinte.com is the website of Meinte van't Kruis. I have been Developing, Leading and Conceptualizing digital solutions for a wide variety of clients. I have worked in a variety of roles and have done everything from full-stack development to managing projects as well as wireframing designs, I enjoy being involved in the full scope of a project. Contact me if you want to work together!" />
  <!-- fav -->
  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/favicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/img/favicon/manifest.json">
  <link rel="shortcut icon" href="/img/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">
  <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
  <meta name="theme-color" content="#333333">
  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <!-- styles -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/print.css" media="print">
  <!-- javascript -->
  <script src='js/tools.js' defer></script>
  <script src='js/main.js' defer></script>
</head>

<body onload='init()'>
  {{{body}}}
</body>

</html>