<main class='project'>
  <header>
    <a href='/'>
      <img src='/img/logo_small.svg' alt='HelloMeinte logo' class='small-logo' />
    </a>
  </header>
  <article>
    <h1>{{title}}</h1>
    {{{html}}}
  </article>
</main>