/* abel-regular - latin */
@font-face {
  font-family: "Abel";
  font-style: normal;
  font-weight: 400;
  src: local("Abel Regular"), local("Abel-Regular"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/abel-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url("../fonts/abel-v10-latin-regular.woff") format("woff");
}

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/open-sans-v16-latin-300.woff2") format("woff2"),
    url("../fonts/open-sans-v16-latin-300.woff") format("woff");
}

@keyframes throbber {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --base-width: calc(450rem / 16);
  --topicheader-width: calc(82rem / 16);
  --w6: calc(6em / 16);
  --w8: calc(8em / 16);
  --w10: calc(10em / 16);
  --w12: calc(12em / 16);
  --w14: calc(14em / 16);
  --w16: calc(16em / 16);
  --w18: calc(18em / 16);
  --w20: calc(20em / 16);
  --w24: calc(24em / 16);
  --w32: calc(32em / 16);
  --w40: calc(40em / 16);
  --w50: calc(50em / 16);
}

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  background-color: #262626;
  font-family: "Abel", sans-serif;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  padding-top: var(--w20);
}

main,
footer {
  display: block;
  width: var(--base-width);
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: var(--w18);
}

em {
  font-style: normal;
}

a {
  color: cyan;
  text-decoration: none;
}

p {
  font-size: var(--w18);
}

.hidden {
  display: none !important;
}

header h2 {
  color: #333;
}

h3 {
  font-size: var(--w18);
}

h4 {
  font-size: var(--w16);
}

article > .topic:not(.contact) {
  margin-top: var(--w24);
}

.project article p::first-letter {
  font-weight: bolder;
  font-size: 1.1em;
}

.project .padded-link {
  text-transform: uppercase;
  font-size: var(--w14);
  white-space: pre-line;
}

.project .padded-link:hover {
  color: black;
}

.project em {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.project article p,
.section-introduction p:not(:last-of-type) {
  margin-bottom: var(--w16);
}

.project h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: var(--w32);
  line-height: var(--w40);
}

.introduction {
  margin: var(--w10) 0;
}

.introduction h1 {
  background-color: white;
  padding: var(--w6);
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: var(--w20);
  color: #666;
  font-style: normal;
  text-align: justify;
}

.introduction em {
  background-color: #555;
  padding-left: var(--w8);
  padding-right: var(--w8);
  color: white;
}

.simple-more-btn {
  background-color: transparent;
  color: cyan;
  font-size: var(--w10);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: var(--w32);
}
.simple-more-btn:after {
  content: "";
  position: relative;
  top: -1px;
  width: var(--w10);
  height: var(--w10);
  display: block;
  border-left: 2px solid cyan;
  border-bottom: 2px solid cyan;
  transform: rotate(-45deg);
  transition: top 0.1s ease-in;
  margin: 0 auto;
}

.simple-more-btn:hover:after {
  top: 1px;
}

.contact-details a,
.timeline a {
  color: white;
  text-decoration: underline;
}

.work a,
.padded-link,
.contact-details a {
  padding: 2px 6px;
  margin: 0 -2px;
  line-height: var(--w32);
  text-decoration: none;
}

.work a:hover,
.read-more,
.other-work a,
.contact-details a:hover,
.padded-link:hover {
  background-color: cyan;
  color: #333;
}

.read-more:hover,
.other-work a:hover {
  background-color: #333;
  color: cyan;
}

.read-more,
.read-less {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: var(--w32);
  height: var(--w32);
}

.read-less {
  right: 1px;
  bottom: 1px;
  background-color: #333;
}

.read-less:hover {
  background-color: cyan;
}

.timeline header h2,
.about header h2,
.timeline header h2::before,
.about header h2::before {
  background-color: #00ffff;
}

.topic header {
  width: var(--base-width);
  border-style: solid;
  border-top-width: 1px;
  height: var(--w18);
  position: relative;
}

.topic header h2 {
  top: -1px;
  padding: 0.2rem 0.6rem;
  position: absolute;
  left: 100%;
  text-align: center;
}

.topic header h2::before {
  z-index: -1;
  content: "";
  height: 100%;
  width: 16px;
  position: absolute;
  top: 0;
  left: 0;

  transform-origin: top;
  transform: skewX(-10deg);
}

.error-message,
.section-introduction,
.main-introduction,
.content p {
  padding: var(--w12) var(--w12) var(--w10) var(--w18);
}

.project header {
  height: var(--w40);
}

.content a.external-link {
  margin: var(--w8) var(--w10);
}

.work-item .inner-content {
  border: 1px solid;
  border-image-source: linear-gradient(0deg, #3e3e3e, #222);
  border-image-slice: 1;
  border-top: 0;
}

.contact header {
  border-color: #ff00cc;
}

.contact header h2 {
  background-color: #ff00cc;
  color: #111;
}

.contact header h2::before {
  background-color: #ff00cc;
}

.contact-details {
  margin-top: var(--w16);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-transform: uppercase;
}

.contact-details > div {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--w6);
}

.contact-details .last {
  margin-bottom: 0px;
}

.contact-detail-header {
  padding: var(--w10);
  flex-basis: 30%;
  background-color: #ff00cc;
  color: #111;
}
.contact-detail-value {
  padding: var(--w6) var(--w10);
  flex: 1;
  text-align: right;
  background-color: transparent;
  border: 1px solid #ff00cc;
}

.work header {
  border-color: #ffcc00;
}

.work header h2,
.work header h2::before {
  background-color: #ffcc00;
}

.work-item h3 {
  padding: var(--w10);
  background-color: #ffcc00;
  width: 100%;
  color: #333;

  overflow: hidden;
  white-space: nowrap;
}

.work h3 em {
  font-style: italic;
  text-transform: uppercase;
}

.work-item h3::before {
  background-color: #ffcc00;
  content: "";
  height: var(--w40);
  width: var(--w12);
  position: absolute;
  top: 0;
  left: 0;

  transform-origin: top;
  transform: skewX(-10deg);
}

.work-item {
  margin-top: var(--w24);
  position: relative;
  box-shadow: 0px 7px 7px -6px rgba(0, 0, 0, 0.6);
}

.content p {
  margin-bottom: initial;
}

.small-logo {
  position: absolute;
  height: calc(50em / 16);
  top: 0;
  right: 0;
}

.main-logo {
  width: calc(200em / 16);
}

.work-item .img-container {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.work-item .img-container img {
  width: 100%;
}

.work-item .img-container::before {
  content: "|";
  position: absolute;
  z-index: -1;
  display: inline-block;
  transform-origin: center center;
  animation: throbber 0.6s 0.2s infinite linear;
  font-size: var(--w18);
  color: #fc0;
  left: 50%;
  top: 50%;
}

.content p em {
  color: #fc0;
  display: inline;
}

.work-item .roles {
  text-transform: uppercase;
  font-size: var(--w16);
  color: #444;
  margin-top: var(--w12);
  width: 88%;
}

.work-item .teaser {
  background-color: white;
  padding: var(--w6) var(--w6) var(--w6) var(--w10);
}

.work-item .teaser h4 {
  color: #666;
}

.other-work {
  margin-top: var(--w20);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.other-work h3 {
  margin-top: var(--w16);
  background-color: transparent;
  color: white;
  padding: 0;
}

.other-work p {
  background-color: white;
  color: #444;
  margin-top: 5px;
  font-size: var(--w18);
  border: 0;
  padding: 5px 2px 5px 10px;
}

.about .content {
  margin-bottom: var(--w16);
}

.timeline header,
.about header {
  border-color: cyan;
}

.timeline-content {
  position: relative;
}

.timeline-item {
  margin-top: var(--w40);
  display: flex;
  flex-direction: row;
}

.timeline section:first-of-type {
  margin-top: var(--w32);
}

.timeline-content::after,
.timeline-content::before {
  position: absolute;
  text-align: center;
  top: -13px;
  left: -6px;
  content: "DEC";
  font-size: 8px;
  color: #424242;
}

.timeline-content::after {
  content: "JAN";
  top: initial;
  bottom: -13px;
}

.timeline-item h3 {
  padding: var(--w10);
  align-self: center;
  color: cyan;
  font-size: var(--w10);
}

.timeline-item h3 em {
  font-size: var(--w14);
}

.timeline-item p {
  font-size: var(--w16);
  margin-bottom: var(--w16);
}

.timeline-item p::first-letter {
  font-weight: bolder;
}

.timeline-item p:last-of-type {
  margin-bottom: 0;
}

.timeline-content {
  padding: var(--w10) var(--w16);
  background-image: linear-gradient(cyan 33%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 5px;
  background-repeat: repeat-y;
}

.timeline-content em {
  color: cyan;
  font-size: var(--w12);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: var(--w10);
  display: block;
}

footer {
  margin: var(--w10) auto;
  border-top: 1px solid #4e4e4e;
  padding: var(--w10) 0;
}
footer p {
  font-size: var(--w16);
  color: #ccc;
}

footer a {
  line-height: initial;
  font-size: var(--w16);
}

@media (min-width: 1100px) {
  html {
    font-size: 1.3vw;
  }
}

@media (max-width: 680px) {
  .topic header {
    width: 100%;
    margin-bottom: var(--w10);
  }
  .topic header h2 {
    left: initial;
    right: 0;
  }
}

@media (max-width: 450px) {
  .work-item h3::before {
    display: none;
  }

  main {
    width: 100%;
    padding: 0 var(--w10) 0 var(--w10);
  }

  footer {
    width: 95%;
  }
}
