html {
  width: 100%;
  height: 100%;
  background-color: #262626;
  font-family: "Abel", sans-serif;
  font-size: 18px;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.introduction {
  margin-bottom: 15px;
}
.introduction h1,
.introduction p {
  background-color: white;
  padding: 12px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 23px;
  color: #666;
}

.introduction em {
  background-color: #ccc;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  height: 30px;
}

em {
  font-style: normal;
}

a {
  color: cyan;
  text-decoration: none;
  padding: 2px 8px;
  line-height: 30px;
}

a:hover {
  background-color: cyan;
  color: #333;
}

a.read_more,
.work_teaser a {
  background-color: cyan;
  color: #333;
}

a.read_more:hover,
.work_teaser a:hover {
  background-color: #333;
  color: cyan;
}

.read_more,
.read_less {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.read_less {
  right: 1px;
  bottom: 1px;
}

.hidden {
  display: none;
}

.timeline .header h2,
.about .header h2 {
  color: #333;
  background-color: #00ffff;
}

.timeline .header h2::before,
.about .header h2::before {
  background-color: #00ffff;
}

.topic .header h2 {
  padding: 4px;
  width: 82px;
  position: absolute;
  top: -1px;
  right: 0;
  height: 30px;
}

.topic .header h2::before {
  content: "";
  height: 30px;
  width: 7px;
  position: absolute;
  top: 0;
  left: 0;

  transform-origin: top;
  transform: skewX(-10deg);
}

.top_text,
.content p {
  padding: 12px 12px 10px 18px;
}

.content a.external_link {
  margin: 7px 10px;
}

h3 {
  font-size: 24px;
}

#main {
  display: block;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

#main > article {
  margin-top: 25px;
}

.topic .header {
  width: 540px;
  border-style: solid;
  border-top-width: 1px;
  height: 18px;
  position: relative;
}

.work_item .content {
  border: solid #4e4e4e 1px;
  color: white;
}

.topic .header h2 {
  text-align: center;
}

.contact .header {
  border-color: #ff00cc;
}

.contact .header h2 {
  color: white;
  background-color: #ff00cc;
}

.contact .header h2::before {
  background-color: #ff00cc;
}

.contact_details {
  margin-top: 15px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-transform: uppercase;
}

.contact_details > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.contact_details .last {
  margin-bottom: 0px;
}

.contact_detail_header {
  padding: 7px 10px;
  flex-basis: 30%;
  background-color: #ff00cc;
}
.contact_detail_value {
  padding: 6px 10px;
  flex: 1;
  text-align: right;
  background-color: transparent;
  border: 1px solid #ff00cc;
}

.contact_detail_value a {
  line-height: inherit;
  color: white !important;
}
.contact_detail_value a:hover {
  color: #333 !important;
}

.work .header {
  border-color: #ffcc00;
}

.work .header h2 {
  color: #333;
  background-color: #ffcc00;
}

.work .header h2::before {
  background-color: #ffcc00;
}

.work_item h3 {
  padding: 10px;
  background-color: #ffcc00;
  width: 100%;
  color: #333;
  height: 50px;

  overflow: hidden;
  white-space: nowrap;
}

.work h3 em {
  font-style: italic;
  text-transform: uppercase;
}

.work_item h3::before {
  background-color: #ffcc00;
  content: "";
  height: 50px;
  width: 12px;
  position: absolute;
  top: 0;
  left: 0;

  transform-origin: top;
  transform: skewX(-10deg);
}

.work_item {
  margin-top: 25px;
  position: relative;
}

.work_item .content {
  border-top: 0;
}

.content p {
  margin-bottom: initial;
}

.content img {
  width: 100%;
}

.content p em {
  color: #fc0;
  display: inline;
}

.work_item .roles {
  text-transform: uppercase;
  font-size: 15px;
  color: #999;
  margin-top: 8px;
  width: 88%;
}

.work_item .teaser {
  background-color: white;
  padding: 5px 2px 5px 10px;
}

.work_item .teaser h4 {
  color: #666;
}

.work_teaser {
  margin-top: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.work_teaser h3 {
  margin-top: 15px;
  background-color: transparent;
  color: white;
  padding: 0;
}

.work_teaser p {
  background-color: white;
  color: #999 !important;
  margin-top: 5px;
  font-size: 17px;
  border: 0;
  padding: 5px 2px 5px 10px;
}
.about {
  padding-bottom: 20px;
}
.about .content {
  margin-bottom: 15px;
}
.timeline .header,
.about .header {
  border-color: #0ff;
}

.timeline_content {
  position: relative;
}

.timeline_item {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.timeline section:first-of-type {
  margin-top: 30px;
}

.timeline_content::after,
.timeline_content::before {
  position: absolute;
  text-align: center;
  top: -13px;
  left: -6px;
  content: "DEC";
  font-size: 8px;
  color: #424242;
}

.timeline_content::after {
  content: "JAN";
  top: initial;
  bottom: -13px;
}

.timeline_item h3 {
  padding: 10px;
  align-self: center;
  color: #0ff;
  font-size: 10px;
}

.timeline_item h3 em {
  font-size: 14px;
}

.timeline_item p {
  font-size: 16px;
  margin-bottom: 15px;
}

.timeline_item p::first-letter {
  font-weight: bolder;
}

.timeline_item p:last-of-type {
  margin-bottom: 0;
}

.timeline_content {
  padding: 10px 15px;
  /*border-left: 1px dotted #0ff;*/
  background-image: linear-gradient(#0ff 33%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 1px 5px;
  background-repeat: repeat-y;
}

.timeline_content em {
  color: #0ff;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: 10px;
  display: block;
}

.ending:first-of-type {
  border-top: 1px solid #4e4e4e;
  padding-top: 10px;
}
p.ending {
  font-size: 16px;
  color: #ccc;
}

p.ending a {
  line-height: initial;
  padding: 0;
  font-size: 16px;
}

@media (max-width: 680px) {
  .topic .header {
    width: 100%;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .work_item h3::before {
    display: none;
  }

  #main {
    width: 100%;
    padding: 0 10px 0 10px;
  }

  .source_name {
    display: none;
  }
}

@media (max-width: 350px) {
  .work_item h3 {
    font-size: 22px;
  }
}
