@media print {
  html::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background-color: #333;
    z-index: -1;
  }
  body {
    z-index: 1;
  }
  .external_link,
  .read_more,
  .read_less,
  .ending {
    display: none;
  }
}
